body {
  background: rgb(245, 245, 245);
  margin: 0;
  color: #333;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #ffafaf;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

#title {
  text-align: center;
  margin-bottom: 0;
}
@media (max-width: 460px) {
  #title {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

#subtitle {
  text-align: center; 
  font-style: italic;
}

img {
  width: 60%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#img-div {
  background: rgb(255, 255, 255);
  padding: 10px;
  margin: 0;
}

#img-caption {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  margin: 10px 0 0px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

h3 {
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", sans-serif;
}

#tribute-info p {
  line-height: 2;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

h4 {
  text-align: center;
}

a {
  color: #477ca7;
}

a:visited {
  color: #9ad0e7;
}